*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

h2{
    font-size: 60px;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
}

h2 span{
    transition: 0.5s;
}

h2:hover span:nth-child(2){
    margin-left: 40px;
}

h2:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                0 0 20px rgb(141, 134, 134),
                0 0 40px #fff,
                0 0 80px #fff,
                0 0 120px #fff,
                0 0 160px #fff; 
}

